.line-chart-card{
    width: 65%;
    background-color: #ffffff;
    border-radius: 6px;
    height: 550px;
    margin-right: 10px;
  }

.card-element{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom:1px solid rgb(189, 187, 187);
}

.span-element{
    font-size: 24px;
    font-family: 'Roboto';
    margin-right: 10px;
}